<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension point="org.eclipse.wst.server.core.moduleTypes">
		<moduleType id="osgi.swordfish" name="%moduleType.name" />
	</extension>

	<extension point="org.eclipse.wst.server.core.runtimeTypes">
		<runtimeType id="org.swordfish.core.runtime"
			name="%runtimeType.name" description="%runtimeType.description"
			class="org.eclipse.swordfish.tooling.deploy.SwordfishOSGiRuntimeDelegate"
			vendor="SOPERA" version="1.0"
			facetRuntimeComponent="org.swordfish.core.runtime.osgi"
			facetRuntimeVersion="1.0">
			<moduleType types="jst.java" versions="1.4,5.0" />
			<moduleType types="osgi.swordfish" versions="1.0" />
		</runtimeType>
	</extension>

	<extension point="org.eclipse.wst.server.core.serverTypes">
		<serverType id="org.swordfish.core.server"
			name="%serverType.name" description="%serverType.description"
			supportsRemoteHosts="false" startTimeout="5000" stopTimeout="3000"
			initialState="started" hasConfiguration="false" runtime="true"
			runtimeTypeId="org.swordfish.core.runtime"
			class="org.eclipse.swordfish.tooling.deploy.SwordfishServerDelegate"
			behaviourClass="org.eclipse.swordfish.tooling.deploy.SwordfishServerBehaviourDelegate"
			launchConfigId="org.eclipse.osgi.swordfish.server.ui.launchConfigurationType"
			launchModes="run">
		</serverType>
	</extension>

	<extension point="org.eclipse.wst.server.core.launchableAdapters">
		<launchableAdapter id="org.swordfish.server"
			typeIds="org.swordfish.core.server"
			class="org.eclipse.swordfish.tooling.deploy.SwordfishLaunchableAdapterDelegate" />
	</extension>

	<extension
		point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="org.eclipse.osgi.swordfish.server.ui.launchConfigurationType"
			name="%launchConfigurationType.name" modes="run"
			delegate="org.eclipse.swordfish.tooling.deploy.SwordfishLaunchConfigurationDelegate" />
		<!--
			modes="run,debug,profile"
			sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
			sourcePathComputerId="org.eclipse.jst.server.preview.sourcePathComputer"
		-->
	</extension>

	<extension point="org.eclipse.wst.server.ui.wizardFragments">
		<fragment id="org.eclipse.jst.server.generic.runtime"
			typeIds="org.swordfish.core.runtime"
			class="org.eclipse.swordfish.tooling.deploy.ui.SwordfishRuntimeWizardFragment" />
		<!-- fragment
			id="org.eclipse.jst.server.generic.server"
			typeIds="org.swordfish.core.server"
			class="org.eclipse.swordfish.tooling.deploy.ui.SwordfishRuntimeWizardFragment"/ -->
	</extension>

	<extension point="org.eclipse.wst.server.core.moduleFactories">
		<moduleFactory projects="true"
			class="org.eclipse.swordfish.tooling.deploy.SwordfishOSGiDeployableFactory"
			id="org.eclipse.wst.swordfish.osgi">
			<moduleType versions="1.0" types="osgi.swordfish">
			</moduleType>
		</moduleFactory>
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<runtime-component-type id="org.swordfish.core.runtime.osgi" />

		<runtime-component-version
			type="org.swordfish.core.runtime.osgi" version="1.0" />

		<!--adapter>
			<runtime-component id="org.swordfish.core.runtime.osgi"/>
			<factory class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
			<type class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
		</adapter-->
		<!--adapter>
			<runtime-component id="org.swordfish.core.runtime.osgi"/>
			<factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
			<type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
		</adapter-->
		<adapter>
			<runtime-component id="org.swordfish.core.runtime.osgi" />
			<factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider" />
			<type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider" />
		</adapter>

		<supported>
			<runtime-component id="org.swordfish.core.runtime.osgi"
				version="1.0" />
			<facet id="jst.java" version="[1.4" />
			<facet id="osgi.swordfish" version="1.0" />
		</supported>
	</extension>

	<extension point="org.eclipse.wst.server.ui.serverImages">
		<image id="org.swordfish.core.ui.img" icon="icons/swordfish.jpg"
			typeIds="org.swordfish.core.runtime,org.swordfish.core.server" />
		<image id="org.swordfish.module.img" icon="icons/swordfish.jpg"
			typeIds="osgi.swordfish" />
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.ui.images">
		<image runtime-component-type="org.swordfish.core.runtime.osgi"
			path="icons/swordfish.jpg" />
	</extension>

	<!--extension point="org.eclipse.wst.common.project.facet.core.runtimes">
		<adapter>
			<runtime-component id="org.swordfish.core.runtime.osgi" />
			<factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider" />
			<type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider" />
		</adapter>
	</extension-->

	<extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
		<runtimeFacetMapping runtimeTypeId="org.swordfish.core.runtime"
			runtime-component="org.swordfish.core.runtime.osgi" version="1.0" />
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
		<default-facets>
			<runtime-component id="org.swordfish.core.runtime.osgi"
				version="1.0" />
			<facet id="jst.java" version="1.4" />
			<facet id="osgi.swordfish" version="1.0" />
		</default-facets>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			id="org.eclipse.osgi.swordfish.server.launchConfigurationTabGroup"
			type="org.eclipse.osgi.swordfish.server.ui.launchConfigurationType"
			class="org.eclipse.swordfish.tooling.deploy.ui.SwordfishLaunchConfigurationTabGroup">
		</launchConfigurationTabGroup>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			id="org.eclipse.osgi.swordfish.server.ui.launchConfigurationType"
			configTypeID="org.eclipse.osgi.swordfish.server.ui.launchConfigurationType"
			icon="icons/swordfish.jpg">
		</launchConfigurationTypeImage>
	</extension>

	<!-- *** facet *** -->
	<extension point="org.eclipse.wst.common.project.facet.core.facets">
		<project-facet id="osgi.swordfish">
			<label>Swordfish OSGi Core</label>
			<description>OSGi support for Swordfish</description>
		</project-facet>
		<project-facet-version facet="osgi.swordfish" version="1.0">
			<constraint>
				<requires facet="jst.java" version="1.4,5.0"/>
			</constraint>
			<action type="INSTALL" id="osgi.swordfish.install">
				<!--config-factory class="org.swordfish.osgi.facet.SwordfishOSGiFacetInstallConfig$Factory"/-->
				<delegate class="org.swordfish.osgi.facet.SwordfishOSGiFacetInstallDelegate"/>
			</action>
		</project-facet-version>
		<!--preset id="org.swordfish.osgi.preset">
			<label>Swordfish OSGi Project</label>
			<description>Creates a project with Swordfish OSGi functionality.</description>
			<facet id="jst.java" version="5.0"/>
			<facet id="osgi.swordfish" version="1.0"/>
		</preset-->
	</extension>
	
	<extension point="org.eclipse.wst.common.project.facet.ui.images">
		<image facet="osgi.swordfish" path="icons/swordfish.jpg"/>
	</extension>

</plugin>
